@model QL_NOITRU_DAKHU.Models.AuditLog

@{
    ViewData["Title"] = "Edit";
    Layout = "AuditLogsController.cs";
}

<h1>Edit</h1>

<h4>AuditLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLog" />
            <div class="form-group">
                <label asp-for="MaTaiKhoan" class="control-label"></label>
                <select asp-for="MaTaiKhoan" class="form-control" asp-items="ViewBag.MaTaiKhoan"></select>
                <span asp-validation-for="MaTaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HanhDong" class="control-label"></label>
                <input asp-for="HanhDong" class="form-control" />
                <span asp-validation-for="HanhDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label"></label>
                <input asp-for="ThoiGian" class="form-control" />
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
