<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập hệ thống</title>

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body class="login-page">

    <div class="login-overlay"></div>

    <div class="login-container">

        <div class="login-box">
            @RenderBody()
        </div>

    </div>

</body>
</html>