@model QuanLyNoiTruSV.Models.KhuNoiTru
@{
    ViewData["Title"] = "Chỉnh sửa khu nội trú";
}

<div class="card theme-card">
    <div class="theme-header">
        Chỉnh sửa khu nội trú
    </div>

    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label class="form-label">Tên khu</label>
                <input asp-for="TenKhu" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
            </div>

            <button type="submit" class="btn theme-btn-primary">Lưu</button>
            <a asp-action="Index" class="btn theme-btn-warning">Quay lại</a>
        </form>
    </div>
</div>